/*
	Theme Name: successean
	Theme URI: http://successean.com
	Description: Successean Theme
	Version: 1.4.2
	Author: Sean Cooper (@)
	Author URI: http://successean.com
*/

/*------------------------------------*\
    FONTS
\*------------------------------------*/

@font-face {
	font-family: 'Tablet Gothic Narrow';
	src: url('../successean/fonts/TabletGothicNarrow.eot');
	src: url('../successean/fonts/TabletGothicNarrow.eot?#iefix') format('embedded-opentype'),
		url('../successean/fonts/TabletGothicNarrow.woff2') format('woff2'),
		url('../successean/fonts/TabletGothicNarrow.woff') format('woff'),
		url('../successean/fonts/TabletGothicNarrow.ttf') format('truetype'),
		url('../successean/fonts/TabletGothicNarrow.svg#TabletGothicNarrow') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Droschke';
	src: url('../successean/fonts/NeueDroschke.eot');
	src: url('../successean/fonts/NeueDroschke.eot?#iefix') format('embedded-opentype'),
		url('../successean/fonts/NeueDroschke.woff2') format('woff2'),
		url('../successean/fonts/NeueDroschke.woff') format('woff'),
		url('../successean/fonts/NeueDroschke.ttf') format('truetype'),
		url('../successean/fonts/NeueDroschke.svg#NeueDroschke') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tablet Gothic Narrow Sb';
	src: url('../successean/fonts/TabletGothicNarrow-SemiBold.eot');
	src: url('../successean/fonts/TabletGothicNarrow-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../successean/fonts/TabletGothicNarrow-SemiBold.woff2') format('woff2'),
		url('../successean/fonts/TabletGothicNarrow-SemiBold.woff') format('woff'),
		url('../successean/fonts/TabletGothicNarrow-SemiBold.ttf') format('truetype'),
		url('../successean/fonts/TabletGothicNarrow-SemiBold.svg#TabletGothicNarrow-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Walfork Demi';
	src: url('../successean/fonts/Walfork-Demi.eot');
	src: url('../successean/fonts/Walfork-Demi.eot?#iefix') format('embedded-opentype'),
		url('../successean/fonts/Walfork-Demi.woff2') format('woff2'),
		url('../successean/fonts/Walfork-Demi.woff') format('woff'),
		url('../successean/fonts/Walfork-Demi.ttf') format('truetype'),
		url('../successean/fonts/Walfork-Demi.svg#Walfork-Demi') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Walfork';
	src: url('../successean/fonts/Walfork-Regular.eot');
	src: url('../successean/fonts/Walfork-Regular.eot?#iefix') format('embedded-opentype'),
		url('../successean/fonts/Walfork-Regular.woff2') format('woff2'),
		url('../successean/fonts/Walfork-Regular.woff') format('woff'),
		url('../successean/fonts/Walfork-Regular.ttf') format('truetype'),
		url('../successean/fonts/Walfork-Regular.svg#Walfork-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque';
	src: url('../successean/fonts/Geogrotesque-Regular.eot');
	src: url('../successean/fonts/Geogrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('../successean/fonts/Geogrotesque-Regular.woff2') format('woff2'),
		url('../successean/fonts/Geogrotesque-Regular.woff') format('woff'),
		url('../successean/fonts/Geogrotesque-Regular.ttf') format('truetype'),
		url('../successean/fonts/Geogrotesque-Regular.svg#Geogrotesque-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geogrotesque SmBd';
	src: url('Geogrotesque-SemiBold.eot');
	src: url('Geogrotesque-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Geogrotesque-SemiBold.woff2') format('woff2'),
		url('Geogrotesque-SemiBold.woff') format('woff'),
		url('Geogrotesque-SemiBold.ttf') format('truetype'),
		url('Geogrotesque-SemiBold.svg#Geogrotesque-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size:11px;
	color:#000;
	background-color: #eeeae9;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}
ul, li {
	list-style-type: none;
	padding: 0;
	margin: auto;
}
span.red {
	color:#d1330f;
}
p.red {
	color:#d1330f;
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.site-wrapper {
	margin:0 auto;
	position:relative;
}
.wrapper-100 {
	width: 100%;
	margin:0 auto;
}
.wrapper-94 {
	width: 94%;
	margin:0 auto;
}
.wrapper-92 {
	width: 92%;
	margin:0 auto;
}
.wrapper-86 {
	width: 86%;
	margin:0 auto;
}
.wrapper970 {
	width: 970px;
	margin: 0 auto;
}
body.single-product .wrapper970 {
	width: 1120px;
}
.whiteWrapper {
	background-color: #fff;
	padding: 20px;
}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}

body.home #hideHome {
	display: none;
}
#homeOnly {
	display: none;
}
body.home #homeOnly {
	display: block;
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/
.top-bar {
	background-color: #141414;
	color:#fff;
	text-transform: uppercase;
	overflow: hidden;
	height: 27px;
}
.top-bar-left {
	float: left;
	width: 50%;
	padding-top: 7px;
}
.top-bar-left h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	letter-spacing: 0.05em;
}
.top-bar-right {
	float: right;
	width: 50%;
	padding-top: 7px;
}
.top-bar-right ul {
	text-align: right;
}
.top-bar-right ul li {
	font-weight: 400;
	letter-spacing: 0.05em;
	display:inline-block;
	margin-right: 2%;
	margin-left: 2%;
}
.top-bar-right ul li a {
	color:#fff;
}
.top-bar-right ul li:hover {
	cursor: pointer;
	text-decoration: underline;
}
.menu-bar {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
img.logo-img {
	height: 42px;
}
.logo h1 {
	font-family: 'Poiret One', cursive;
	font-size: 42px;
	color:#141414;
	margin-top: 15px;
	margin-bottom: 20px;
}

img.border-bottom {
	height: 9px;
	width: 100%;
}
li#menu-item-32 {
    position: absolute;
    right: 10%;
    margin-top: -6px;
    margin-left: 10px;
}
li#menu-item-32:after {
	content: url('img/icons/search.png');
	margin-left: 10px;
	top:10px;
}
/*------------------------------------*\
    STICKY FOOTER
\*------------------------------------*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.site_wrapper {
  min-height: 100%;
  /* equal to footer height */
}
.site_wrapper:after {
  content: "";
  display: block;
}
.footer, .site_wrapper:after {
  /*height: 330px; */
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.footer {
	background-color: #eeeae9;
    color: #adacae;
    overflow: hidden;
    height: 60px;
    position: relative;
    z-index: 999;
    font-family: 'Tablet Gothic Narrow';
    font-weight: normal;
}
.footer-container {
	overflow: hidden;
	padding-top: 15px;
}
.footer-bar-left {
	float: left;
	width: 30%;
}
.footer-bar-left {
	padding-top: 10px;
}
.footer-bar-right {
	width: 70%;
	float: left;
}
.footer-bar-right {
	text-align: right;
}
.footer h4.copyright {
	padding-bottom: 10px;
}
footer .newsletterBarRight {
	width: 100%;
}

/*------------------------------------*\
    SECTION HERO
\*------------------------------------*/
section.frontPageTop {
	margin-top: 45px;
}
section.frontPageTopAlt {
	margin-top: 0;
}
.hero-banner {
	width: 100%;
	margin: 1px auto;
	text-align: center;
	position: relative;
	background-position: top center;
	background-size: cover;
	height: 650px;
}
img.hero-banner {
	width: 100%;
	max-height: 850px;
}
.hero-overlay {
	position: absolute;
	top:0;
	left:0;
	right:0;
	text-align: center;
	color:#fff;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.19);
}
.hero-overlay h1 {
	margin-bottom: 2px;
	padding-top: 15%;
	text-transform: uppercase;
	font-family: 'Fanwood Text', serif;
	font-weight: 400;
	letter-spacing: 0.05em;
	font-size:54px;
	border-bottom: 1px solid #fff;
}
.hero-overlay h3 {
	margin-top: 0;
	text-transform: lowercase;
	font-family: 'Fanwood Text', serif;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.05em;
	font-size:42px;
	border-top: 1px solid #fff;
}
.hero-banner a.view-button {
	display: block;
	position: absolute;
	height: 50px;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	transition: all 1s ease-in-out;
}
.hero-banner a.view-button button{
	display:none;
	width: 250px;
	padding: 5px;
	border: 1px solid #fff;
    height: 70px;
        text-transform: lowercase;
    font-family: 'Fanwood Text', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 0px;
    transition: all 1s ease-in-out;
}

.hero-banner:hover > a.view-button button {
	display: inline-block;
}
.hero-banner:hover .hero-overlay h1,
.hero-banner:hover .hero-overlay h3 {
	display: none;
}
.hero-banner a.view-button button:hover {
	background-color: #000;
	border-color:#000;
}
/*------------------------------------*\
    SECTION BLOCK-SHOP
\*------------------------------------*/
.block-shop {
	padding-top: 30px;
	overflow: hidden;
	
}

.left-block {
	float: left;
	width: 49%;
	margin-right: 1%;
	position: relative;
	height: 100%;
}
.left-block a.view-button {
	display: block;
	position: absolute;
	height: 50px;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	transition: all 1s ease-in-out;
}
.left-block a.view-button button{
	display:none;
	width: 250px;
	padding: 5px;
	border: 1px solid #fff;
    height: 70px;
        text-transform: lowercase;
    font-family: 'Fanwood Text', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 0px;
    transition: all 1s ease-in-out;
}
.left-block:hover > a.view-button button {
	display: inline-block;
}
.left-block a.view-button button:hover {
	background-color: #000;
	border-color:#000;
}
.right-block {
	float: right;
	width: 50%;
	position: relative;
}
.right-block a.view-button {
	display: block;
	position: absolute;
	height: 50px;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.right-block a.view-button button{
	display:none;
	width: 250px;
	padding: 5px;
	border: 1px solid #fff;
    height: 70px;
        text-transform: lowercase;
    font-family: 'Fanwood Text', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 0px;
    transition: all 1s ease-in-out;
}
.right-block:hover > a.view-button button {
	display: inline-block;
}
.right-block a.view-button button:hover {
	background-color: #000;
	border-color:#000;
}
.block-shop img {
	width: 100%;
}

/*------------------------------------*\
    SECTION BLOCK-SALE
\*------------------------------------*/
.block-sale {
	padding-top: 30px;
	padding-bottom: 60px;
}
.block-sale-banner {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
img.block-sale-banner {
	width: 90%;
}

.hero-overlay {
	position: absolute;
	top:0;
	left:0;
	right:0;
	text-align: center;
	color:#fff;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.19);
	transition: all 0.5s ease-in-out;
}
.hero-overlay h1 {
	margin-bottom: 2px;
	padding-top: 20%;
	text-transform: uppercase;
	font-family: 'Fanwood Text', serif;
	font-weight: 400;
	letter-spacing: 0.05em;
	font-size:54px;
	border-bottom: 1px solid #fff;
}
.hero-overlay h3 {
	margin-top: 0;
	font-family: 'Fanwood Text', serif;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.05em;
	font-size:48px;
	border-top: 1px solid #fff;
}
.hero-overlay:hover{
	background-color: rgba(0, 0, 0, 0.69);
}

span.big-h3 {
	font-size: 60px;
}
.block-sale-banner a.view-button {
	display: block;
	position: absolute;
	height: 50px;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	transition: all 1s ease-in-out;
}
.block-sale-banner a.view-button button{
	display:none;
	width: 250px;
	padding: 5px;
	border: 1px solid #fff;
    height: 70px;
        text-transform: lowercase;
    font-family: 'Fanwood Text', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 0px;
    transition: all 1s ease-in-out;
}

.block-sale-banner:hover > a.view-button button {
	display: inline-block;
}
.block-sale-banner:hover .hero-overlay h1,
.block-sale-banner:hover .hero-overlay h3 {
	display: none;
}
.block-sale-banner a.view-button button:hover {
	background-color: #000;
	border-color:#000;
}
/*------------------------------------*\
    WOOCOMMERCE
\*------------------------------------*/
.woocommerce .woocommerce-breadcrumb {
	display: none;
}
body.single-product .woocommerce-breadcrumb {
	display: block;
	    font-family: 'Tablet Gothic Narrow';
    font-weight: normal;
    font-size: 11px;
    color: #444;
    text-transform: lowercase;
}
body.single-product .woocommerce-breadcrumb a {
	color: #444;
	    margin-right: 3px;
    margin-left: 3px;
}
p.woocommerce-result-count {
	display: none !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #5490cf;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:hover {
	cursor: pointer
}
/*------------------------------------*\
    SHOP
\*------------------------------------*/
.post-type-archive h1.page-title {
	display: none;
}
.woocommerce ul.products li.product .button {
	display: none;
}
.post-type-archive .hero{
	margin-left: auto;
	width: 100%;
}
.post-type-archive .hero h1.shop-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-size: 38px;
	font-weight: 400;
}
.post-type-archive .hero-banner {
	overflow: hidden;
	background-color: #acb75a;
}
.post-type-archive .hero-overlay {
	margin-right: 0;
	width: 100%;
}
.post-type-archive .hero-left{
	float: left;
	width: 50%;
		padding-left: 5%;
	padding-right: 2%;

}
.post-type-archive .hero-left h1 {
	margin-bottom: 2px;
	padding-top: 10%;
	font-family: 'Fanwood Text', serif;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.05em;
	font-size:36px;
	border-bottom: 1px solid #fff;
	color:#fff;

	text-align: left;
}
.post-type-archive .hero-left h3 {
	margin-top: 0;
	text-transform: lowercase;
	font-family: 'Fanwood Text', serif;
	font-weight: 400;
	letter-spacing: 0.05em;
	padding-top: 20px;
	font-size:17px;
	border-top: 1px solid #fff;
	color:#fff;
	text-align: left;
}
.post-type-archive .hero-right{
	/*float: right;*/
	width: 100%;
	position: relative;
}
.hero-right a.view-button {
	display: block;
	position: absolute;
	height: 50px;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.hero-right a.view-button button{
	display:none;
	width: 250px;
	padding: 5px;
	border: 1px solid #fff;
    height: 70px;
        text-transform: lowercase;
    font-family: 'Fanwood Text', serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 0px;
    transition: all 1s ease-in-out;
}
.hero-right:hover > a.view-button button {
	display: inline-block;
}
.hero-right a.view-button button:hover {
	background-color: #000;
}

.post-type-archive ul.products,
.tax-product_tag ul.products{
	padding-top: 60px;
	padding-bottom: 100px;
	margin: 0 auto;
	width: 99%;
	text-align: center;
}
.woocommerce-ordering select {
	margin-left: auto;
	width: 82%;
	border: 1px solid #000;
	height: 30px;
			    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 11px;
    color:#000;
    background-color: #fff;
  -webkit-border-radius: 0px;
  display: none;
}
.post-type-archive ul.products li.product h3,
.tax-product_tag ul.products li.product h3{
    font-family: 'Walfork Demi';
    font-size: 11.5px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 3px;
}
.post-type-archive span.price,
.tax-product_tag span.price{
	color:#000 !important;
	text-align: left;
	padding-left: 15px;
        font-family: 'Walfork' !important;
    font-size: 12px !important;
    
}
span.woocommerce-Price-amount.amount {
	font-weight: normal !important;
}
.post-type-archive ul.products li.product .price del {
	display: none;
}
.post-type-archive ul.products li.product .price ins {
	text-decoration: none !important
}
.post-type-archive ul.products li.product,
.tax-product_tag ul.products li.product{
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    border: 3px solid #f4f4f4;
    background: #fff;
    padding: 10px;
}

body.post-type-archive-product ul.products li.product a img {
	height: 183px !important;
}
/*CART & CHECKOUT*/

aside.sidebar {
	display: none;
}
div#checkout_login {
    display: none;
}
.cart .woocommerce-message {
	display: none;
}
p.return-to-shop a {
    background-color: #99c4e3 !important;
    height: 40px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Tablet Gothic Narrow Sb';
    font-size: 14px !important;
    letter-spacing: 2px;
    color:#fff !important;
    padding-top: 15px !important;
}
.cart main h1 {
	margin-left: auto;
	margin-right: auto;
	font-size: 46px;
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: uppercase;
	color:#141414;
	padding-bottom: 15px;
	border-bottom: 2px solid #141414;
	display: none;
}
.cartBanner .cartBannerHeader {
	height: 120px;
	width: 100%;
	text-align: center;
	background-color: rgba(172, 172, 174, 0.2);
	padding-top: 20px;
	margin-bottom: 20px;
}
.cartBanner .cartBannerHeader h2 {
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 82px;
	font-family: 'Neue Droschke';
	color:rgba(173, 172, 174, 0.5);
}
.cart table.cart img {
	width: 100%;
	padding: 20px;
}

.cart tr.cart_item td {
	font-size: 13px;
	color:#141414;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.cart tr.cart_item td a {
	color:#141414;
}
.cart .coupon input#coupon_code {
	width: 150px;
}
.cart input[name="update_cart"],
.cart input[name="apply_coupon"]{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #000 !important;
    border: 0;
    border-radius: 0;
    height: 27px;
}
.woocommerce div.product .stock {
	display: none;
}
.cart .wc-proceed-to-checkout a.checkout-button {
    display: block;
    height: 50px;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #5C8B1E;
    font-family: 'Tablet Gothic Narrow Sb';
    font-size: 16px;
    letter-spacing: 2px;
}
.cart .wc-proceed-to-checkout a.checkout-button:hover {
	background-color: #5C8B1E;
}
.cart .cart_totals {
	color: #141414;
	font-size: 16px;
	font-weight: 400;
}
.cart .cart_totals h2{
	font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    color: #141414;
    padding-top: 15px;
    padding-bottom:15px;
}
.cart tr.cart-subtotal {
	color: #141414;
	font-size: 16px;
	font-weight: 400 !important;
}
.cart a.remove {
	font-size: 2.5em;
}
.checkout main section h1 {
	display: none;
}
.checkout .woocommerce-info {
	display: none;
}
#checkout_timeline.text {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #141414;
}
ul#checkout_timeline li {
	color:rgba(255, 255, 255, 0.5);
}
ul#checkout_timeline li.active {
	color:rgba(255, 255, 255, 1);
}
div#checkout-wrapper {
	width: 580px !important;
	margin: 0 auto 0 0;
	float: left;
}
div#total_order {
	float: left;
	width: 370px;
	margin-left: 20px
}
.checkout form.checkout h3,
h3#order_review_heading{
	font-size: 21px;
    color: #141414;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Walfork Demi';
}
.checkout form.checkout label {
	font-size: 13px;
	letter-spacing: 0.025em;
    color: #141414;
    text-transform: capitalize;
    font-family: 'Geogrotesque';
}
strong.product-quantity {
	font-family: 'Walfork Demi';
}
.checkout form.checkout input.input-text {
	padding: 12px;
}
.checkout form.checkout .select2-container .select2-choice {
	padding: 9px;
	border-radius: 0;
}

.checkout input.input-text {
	-webkit-appearance: none;
    height: 33px;
    font-family: 'Geogrotesque';
    color: #000;
    padding-left: 10px;
    outline: 0;
    border: 1px solid rgba(173, 172, 174, 0.6);
    border-radius: 0;
}
div#customer_shipping_details,
div#customer_billing_details {
	padding: 20px;
	margin-bottom: 20px;
	background-color: rgba(172, 172, 174, 0.15);
}
div#order_review {
	width: 370px;
	float: right;
	background-color: rgba(172, 172, 174, 0.15);
	padding: 20px;
}
body.checkout .woocommerce-billing-fields,
body.checkout .woocommerce-shipping-fields {
	background-color: rgba(172, 172, 174, 0.15);
	padding: 20px;
}
body.checkout .woocommerce-shipping-fields {
	margin-top: 10px;
}
fieldset#wc-authorizenet-cc-form label {
	display: block;
	width: 200px;
	    font-size: 13px;
    letter-spacing: 0.025em;
    color: #141414;
    text-transform: capitalize;
    font-family: 'Geogrotesque';
    padding-bottom: 3px;
}
fieldset#wc-authorizenet-cc-form input {
	width: 100%;
}
.checkout table.shop_table.woocommerce-checkout-review-order-table {
	    color: #141414;
    font-size: 16px;
    font-weight: 400 !important;
}
.checkout input#place_order {
	height: 50px;
    border-radius: 0;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #5C8B1E !important;
    float: none !important;
    width: 100%;
}
body.checkout input[type="text"],
body.checkout input[type="email"],
body.checkout input[type="tel"] {
	color:black !important;
}

td.product-name a{
	font-family: 'Walfork Demi';
	font-size: 24px;
	text-transform: capitalize;
}
.woocommerce td.product-name dl.variation {
	margin-top: 25px;
	font-family: 'Geogrotesque';
}
.checkout .woocommerce td.product-name dl.variation {
	margin-top: 5px;
}
.checkout .woocommerce td.product-name dl.variation dd {
	margin-bottom: 0;
}
.woocommerce td.product-name dl.variation dt {
	width: 100%;
}
.woocommerce td.product-price,
tr.cart-subtotal td {
	font-family: 'Walfork';
	font-size: 18px !important;
	letter-spacing: 0.5px !important;
}
tr.cart-subtotal th,
tr.order-total th,
.woocommerce table.shop_table th {
	font-family: 'Geogrotesque';
	text-transform: uppercase;
}
.woocommerce td.product-subtotal {
	font-family: 'Walfork';
	font-size: 22px !important;
	letter-spacing: 0.5px !important;
}
tr.order-total td {
		font-family: 'Walfork';
	font-size: 26px !important;
	letter-spacing: 0.5px !important;
}
.quantity input {
	    -webkit-appearance: none;
    height: 40px;
    width: 55px;
    font-family: 'Walfork';
    color: #000;
    padding-left: 10px;
    outline: 0;
    border: 1px solid rgba(173, 172, 174, 0.6);
    font-size: 16px;
}
.woocommerce a.remove {
	width: 40px;
	height: 34px;
	padding-top: 1px;
	border-radius: 0;
	background-color: #C0BFC0;
	color:#fff !important;
	font-weight: normal;
}
.woocommerce div.coupon input#coupon_code {
	    height: 33px;
    font-family: 'Walfork';
    color: #000;
    padding-left: 10px;
    outline: 0;
    border: 1px solid rgba(173, 172, 174, 0.6);
    display: block;
    margin-right: 0;
}
.woocommerce div.coupon input.button {
	height: 33px;
    outline: 0;
    background-color: #99c4e3 !important;
    color: #fff;
    font-family: 'Tablet Gothic Narrow';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    border: 1px solid #99c4e;
    width: 120px;
    padding-top: 8px;
}
.woocommerce input[name="update_cart"] {
	height: 33px;
    outline: 0;
    background-color: #99c4e3 !important;
    color: #fff;
    font-family: 'Tablet Gothic Narrow';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    border: 1px solid #99c4e;
    width: 120px;
    padding-top: 8px;
}
.woocommerce ul#shipping_method li label {
	font-size: 13px !important;
    color: #141414 !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
}
a.woocommerce-remove-coupon {
    font-family: 'Geogrotesque' !important;
}
.woocommerce .cart-collaterals h2 {
	display: none;
}
table.shop_table  {
border-color: #fff !important;
}
.cart_totals table.shop_table {
	text-align: right !important;
}
tr.order-total th,
tr.order-total td {
	border: 0 !important;
}



/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

/*------------------------------------*\
    REDESIGN
\*------------------------------------*/

/*HEADER*/
nav.nav {
	overflow: hidden;
	padding-top: 16px;
	padding-bottom: 16px;
	font-family: 'Tablet Gothic Narrow';
	font-weight: normal;
	font-size: 11px;
	color:#000;
	position: fixed;
	width: 100%;
	z-index: 9991;
	background-color: #eeeae9;
}

.navLeft {
	float: left;
	width: 50%;
}
.navRight {
	float: right;
	width: 50%;
}
.navRight ul {
	text-align: right;
}
.navRight ul li {
	display: inline-block;
	padding-left: 15px;
}
.navRight ul li img {
	height: 14px;
	margin-right: 4px;
}
.navLeft ul li span#gap {
	margin-left: 3px;
	margin-right: 3px;
}
.navRight input#searchField {
	border:0;
	padding-left: 18px;
	font-family: 'Tablet Gothic Narrow';
    font-weight: normal;
    font-size: 11px;
    color: #000;
    background-color: #eeeae9;
    width: 50px;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
}
.navRight input#searchField {
	content: url('img/search-glass.png');
	background: url(img/search-glass.png) no-repeat scroll 0px 0px;
	background-size: contain;
}
.navRight input#searchField::-webkit-input-placeholder{
	color:#444;
}
.navRight input#searchField:-ms-input-placeholder {
	color:#444;
}
.navRight input#searchField:-moz-placeholder {
	color:#444;
}
.navRight input#searchField::-moz-placeholder {
	color:#444;
}

.navRight input#searchField:focus {
	width: 200px;
	padding-left: 20px;
}
.navRight input#searchField:focus > .navRight li.cartLink {
	display: none;
}

/*SEARCH RESULTS*/
.searchResults {
	min-height: 650px;
	padding-top: 50px;
	overflow: hidden;
}
.searchResults article {
	float: left;
	width: 33.3%;
	padding: 20px;
}
.searchResults h2 {
	font-family: 'Walfork Demi';
	font-size: 17px;
	padding-top: 10px;
}

body.search-results span.date,
body.search-results span.author {
	display: none;
}
body.search-results img.wp-post-image {
	width: 100%;
}
/*FRONT PAGE*/

.mainBanner {
	height: 550px;
	background-size: cover;
	background-position: center;
	padding-top: 180px;
}
body.home .mainBanner {
	position: fixed;
	z-index: 1;
	width: 970px;
}
body.home div#fixedWrapper {
	height: 550px;
	position: relative;
}
.mainBannerSlider {
	height: 70px;
	width: 100%;
	position: absolute;
	text-align: center;
	background-color: rgba(238, 234, 233, 0.85);
	top:0;
	padding-top: 20px;
}
.mainBannerSlider h5 {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 22px;
	margin-right: 8px;
	font-family: 'Geogrotesque';
	font-weight: normal;
	color:rgba(0, 0, 0, 0.85);
}
.mainBannerSlider p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	font-family: 'Walfork';
	font-weight: normal;
	font-size: 12px;
	color:rgba(0, 0, 0, 0.85);
}
.mainBannerText h1 {
	color:#fff;
	text-transform: lowercase;
	letter-spacing: 2px;
	font-size: 82px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 10px;
	font-family: 'Neue Droschke';
}
.mainBannerText h1 a {
	color:#fff;
}
.mainBannerText h1 a:hover {
	opacity: 0.65;
}
.mainBannerText h1 span {
	border-top: 2px solid #c9c1ae;
}
a.pageDown {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
a.pageDown img {
	height: 26px;
}
.navBottom {
	overflow: hidden;
	background-color: #eeeae9;
	z-index: 9999 !important;
	width: 100%;
}
.navWrapper {
	width: 970px;
	margin:0 auto;
	overflow: hidden;
}
.navBottom .navWrapper {
	border-top: 1px solid rgba(201, 193, 174, 0.5);
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	z-index: 999;
	background-color: #eeeae9;
}
.navBottomLogo {
	width: 50%;
	float: left;
}
.navBottomLogo img {
	width: 240px;
}
.navBottomLinks {
	width: 50%;
	float: right;
}
.navBottomLinks ul {
	text-align: right;
	padding-top: 11px;
}
.navBottomLinks ul li {
	display: inline-block;
	margin-left: 30px;
	font-family: 'Tablet Gothic Narrow Sb';
	font-size: 13px;
}
.navBottomLogo a {
	font-size: 28px;
	letter-spacing:1px;
}
.newsletterBar {
	width: 100%;
	overflow: hidden;
	padding-top: 7px;
	border-top: 1px solid rgba(201, 193, 174, 0.5);
	border-bottom: 1px solid rgba(201, 193, 174, 0.5);
	height: 51px;
	background-color: #eeeae9;
	position: relative;
	z-index: 999;
}
.newsletterBarLeft {
	width: 50%;
	float: left;
}
.newsletterBarLeft p {
	font-size: 18px;
	color: #c9c1ae;
	font-family: 'Walfork';
	padding-top: 5px;
}
.newsletterBarRight {
	width: 50%;
	float: right;
	text-align: right;
}
.newsletterBarRight p#footerCall {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 15px;
	color:#444;
}
.newsletterBarRight .footerSocial {
	display: inline-block;
}
.newsletterBarRight .footerSocial img {
	height: 26px;
	margin-left: 15px;
}
.newsletterBarRight div.wpcf7 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
div.wpcf7 p.input {
	display: inline-block;
	vertical-align: top;
	height: 25px;
}
div.wpcf7 p.input input {
	height: 32px;
	font-family: 'Walfork';
	color: #c9c1ae;
	padding-left: 10px;
	outline: 0;
	border:1px solid rgba(173, 172, 174, 0.6);
	display: block;
}
div.wpcf7 p.submit {
	display: inline-block;
	vertical-align: top;
	
	margin-left: -4px;
}
div.wpcf7 p.submit input {
	height: 32px;
	outline: 0;
	background-color: #eeeae9;
	color:#adacae;
	font-family: 'Tablet Gothic Narrow';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 8.5px;
	border:1px solid rgba(173, 172, 174, 0.6);
	width: 120px;	
	display: block;
	background-image: url('img/arrow-submit.png');
    background-repeat: no-repeat;
    background-position: 93% 50%;
    background-size: 10px;
    padding-top: 4px;
}
.shopSection {
	overflow: hidden;
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: #eeeae9;
	position: relative;
	z-index: 999;
}
.selectColor {
	overflow: hidden;
	text-align: center;
}
.shopBy > div.catSelect {
	width: 32% !important;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.shopBy .header h6 {
	text-decoration: underline;
	margin-right: 25px;
}
.shopBy h6 {
	font-family: 'Geogrotesque';
	font-size: 11px;
	color:rgba(0, 0, 0, 0.6);
}
body.home .selectLength {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}
body.home .selectWidth {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

 div#yith-woo-ajax-navigation-2,
div#yith-woo-ajax-navigation-3,
div#yith-woo-ajax-navigation-4 {
 	width: 80%;
 	margin: 0 auto;
 }
.browseBy {
	width: 40%;
	float: left;
	text-align: center;
}
.browseBy .title {
	margin-bottom: 20px;
}
.browseBy .title h6 {
	text-decoration: underline;
    margin-bottom: 10px;
}
.browseBy .title p {
    margin-bottom: 10px;
    color:#adacae;
    font-family: 'Walfork';
}
.browseBy h6 {
	font-family: 'Geogrotesque';
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6);
}

div#yith-woo-ajax-navigation-2 ul {
	overflow: hidden;
}

div#yith-woo-ajax-navigation-2 ul li {
	text-align: center;
	width: 49%;
	float: left;
}
.selectLength ul li p,
div#yith-woo-ajax-navigation-2 ul li {
	color:rgba(173, 172, 174, 0.87);
	background-color: #fff;
	height: 75px;
	width: calc(100%-1px);
	font-size: 30px;
	padding-top: 20px;
	margin-bottom: 1px;
	margin-right: 1px;
	font-family: 'Neue Droschke';
}
div#yith-woo-ajax-navigation-2 ul li a {
	color:rgba(173, 172, 174, 0.87);
}
div#yith-woo-ajax-navigation-2 ul li small {
	display: none;
}
.woocommerce .widget_layered_nav ul li.chosen a:before, .woocommerce .widget_layered_nav_filters ul li a:before {
	color:#c9c1ae !important;
	font-size: 23px;
}
.selectLength .title,
.selectWidth .title,
.selectColor .title {
	margin-bottom: 15px;
}


div#yith-woo-ajax-navigation-3 ul li {
	text-align: center;
	width: 100%;
}

.selectWidth ul li p,
div#yith-woo-ajax-navigation-3 ul li a{
	color:rgba(173, 172, 174, 0.87);
	background-color: #fff;
	height: 75px;
	width: 100%;
	font-size: 24px;
	padding-top: 28px;
	margin-bottom: 1px;
	font-family: 'Neue Droschke';	
	border: 0;
	margin: 0;
	text-transform: lowercase;
}
div#yith-woo-ajax-navigation-4 ul {
	overflow: hidden;
}
div#yith-woo-ajax-navigation-4 ul li {
	display: inline-block;
	width: 49%;
	text-align: center;
	padding: 0px 10px 10px;
}
div#yith-woo-ajax-navigation-4 ul li a {
	width: 50px !important;
	height: 50px !important;
	margin: 0 auto;
}
div#yith-woo-ajax-navigation-3 ul li a:hover {
	background-color: #c9c1ae;
	color:#fff;
}
.shopBy a button {
	background-color: #eeeae9;
	color:#adacae;
	font-family: 'Tablet Gothic Narrow';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 9px;
	border:2px solid rgba(173, 172, 174, 0.6);
	width:175px;
	height: 42px;
	margin-top:25px;
	margin-right: 25px;
}
.selection {
	float: left;
	width: 43%;
	margin-top: 5px;
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 25px;
	padding: 5px 5px 0px;
	background-color: #fff;
}
.selection:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.selection img {
	width: 100%;
}
.selection p {
	color:#adacae;
	font-family: 'Neue Droschke';
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.selectLength ul {
	overflow: hidden;
}
.selectLength ul li {
	text-align: center;
	width: 50%;
	float: left;
}
.selectLength ul li p {
	color:rgba(173, 172, 174, 0.87);
	background-color: #fff;
	height: 75px;
	width: calc(100%-1px);
	font-size: 30px;
	padding-top: 20px;
	margin-bottom: 1px;
	margin-right: 1px;
	font-family: 'Neue Droschke';
}
.selectLength ul li p a {
	color:rgba(173, 172, 174, 0.87);
}
.selectLength .title,
.selectWidth .title{
	margin-bottom: 15px;
}

.selectWidth ul li {
	text-align: center;
	width: 50%;
}

.selectWidth ul li p {
	color:rgba(173, 172, 174, 0.87);
	background-color: #fff;
	height: 75px;
	width: 100%;
	font-size: 24px;
	padding-top: 28px;
	margin-bottom: 1px;
	font-family: 'Neue Droschke';	
}
.selectWidth ul li p a {
	color:rgba(173, 172, 174, 0.87);
}
body.home .shopBy {
    width: 60%;
    float: left;
    overflow: hidden;
    text-align: center;
} 

body.home .shopBy .header {
    padding-bottom: 25px;
    text-align: center;
}

/*MIDSECTION */

.midBannerTop {
	height: 750px;
	background-size: cover;
	background-position: center;
	padding-top: 220px;
	position: relative;
}
.midBannerTop .midBannerSlider {
	height: 50px;
	width: 100%;
	position: absolute;
	text-align: left;
	background-color: rgba(238, 234, 233, 0.85);
	top:0;
	padding-left: 150px;
	padding-top: 14px;
}
.midBannerTop .midBannerSlider h5 {
	display: inline-block;
	vertical-align: middle;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 18px;
	margin-right: 8px;
	font-family: 'Walfork';
	color: rgba(0, 0, 0, 0.8);

}
.midBannerTop .midBannerText {
	padding-left: 200px;
}
.midBannerTop .midBannerText h1 {
	color:#fff;
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 82px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 10px;
	font-family: 'Neue Droschke';
}

.midBannerBottom {
	height: 550px;
	position: relative;
}
.midBannerBottom .midBannerText {
	padding-top: 270px;
	padding-right: 50px;
	text-align: right;
}
.midBannerBottom .midBannerHeader {
	height: 200px;
	width: 100%;
	background-color: rgba(172, 172, 174, 0.2);
	padding-left: 170px;
}
.midBannerBottom .midBannerHeader h2 {
	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 82px;
	font-family: 'Neue Droschke';
	color:rgba(173, 172, 174, 0.5);
	line-height: 50px;
	text-align: left;
}
.midBannerHeader h2 span {
	text-align: left;
	font-family: 'Tablet Gothic Narrow';
    font-weight: normal;
    text-transform: none;
    font-size: 11px;
    color:#444;
}
.midBannerBottom .midBannerText {
	padding-left: 200px;
}
.midBannerBottom .midBannerText h2 {
	color:#fff;
	text-transform: lowercase;
	font-size: 50px;
	text-align: right;
	font-family: 'Walfork';
	margin-top: 0;
	margin-bottom: 0;
}
.midBannerBottom .midBannerText h6 {
	color:#fff;
	text-transform: capitalize;
	font-size: 22px;
	text-align: right;
	font-family: 'Walfork';
	margin-top: 0;
	margin-bottom: 15px;
}
.midBannerBottom .midBannerText a p {
	color: #fff;
    font-family: 'Tablet Gothic Narrow';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    display: inline-block;
	vertical-align: middle;
	padding-top: 1px;
}
.midBannerBottom .midBannerText a img {
	height: 10px;
	margin-left: 3px;
	display: inline-block;
	vertical-align: middle;
}
.midBannerContent {
	height: 500px;
	background-size: cover;
	background-position: top;
	position: relative;
	z-index: 99;
	margin-top: -125px;
}

.productShowcase {
	padding-top: 100px;
	overflow: hidden;
	padding-bottom: 80px;
}
.productShowcase h4 {
	text-align: center;
	font-size: 32px;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-bottom: 40px;
	text-transform: uppercase;
}
.productShowcase ul  {
	overflow: hidden;
}
.productShowcase ul li {
	float: left;
	width: 25%;
	padding: 5px;
}
.productShowcase ul li img {
	height: auto;
}
.frontPageMid,
.white {
	background-color: #fff;
	position: relative;
	z-index: 999;
}
.productShowcase ul li h6 {
	font-family: 'Walfork Demi';
	font-size: 11.5px;
	line-height: 1.5em;
}

.productShowcase ul li p {
	font-family: 'Walfork';
	font-size: 12px;
}
.productShowcase .seeMoreBtn {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
}
.productShowcase .seeMoreBtn a button {
	background-color: transparent;
	color:#adacae;
	font-family: 'Tablet Gothic Narrow';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 9px;
	border:2px solid rgba(173, 172, 174, 0.6);
	width:175px;
	height: 42px;
	margin-top: 25px;
}

/*WOOCOMMERCE UNIVERSAL*/
.woocommerce-info {
	border-top-color: rgba(201, 193, 174, 0.5);
	    font-family: 'Tablet Gothic Narrow Sb';
    font-size: 14px;
}
.woocommerce-info:before {
	color:rgba(201, 193, 174, 0.5);
}
body.my-account a.woocommerce-Button.button {
	height: 33px;
    outline: 0;
    background-color: #99c4e3 !important;
    color: #fff;
    font-family: 'Tablet Gothic Narrow';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    width: 120px;
    padding-top: 13px;
    margin-right: 10px;
    text-align: center;
}
.woocommerce-Address address {
	font-style: normal;
	font-family: 'Tablet Gothic Narrow';
	font-size: 12px;
	line-height: 2em;
}
/*SINGLE PRODUCT PAGE*/
/*.related.products {
	display: none;
}*/
body.single-product div#content {
	overflow: hidden;
}
body.single-product .navWrapper {
	width: 1120px;
}
body.single-product .woocommerce-tabs.wc-tabs-wrapper {
	display: none;
}
body.single-product div#container {
	margin-top: 30px;
}
.navBottomAlt {
	border-top: 1px solid #c9c1ae;
	border-bottom: 1px solid #c9c1ae;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 20px;
}
body.single-product label {
	display: none;
}
body.single-product div.quantity {
	display: none !important;
}
body.single-product a.reset_variations {
	display: none !important;
}
span.posted_in {
	display: none;
}
span.sku_wrapper {
	display: none;
}
.woocommerce span.onsale {
	display: none;
}
aside.sidebar-shop {
	display: none;
}
body.single-product .summary.entry-summary {
	width: 350px !important;
}
body.single-product h1.product_title.entry-title {
	text-align: center;
	font-family: 'Walfork Demi';
	font-size: 24px;
}
body.single-product p.price {
	text-align: center;
	font-family: 'Walfork' !important;
	font-size: 12px !important;
	color:#000 !important;
}
body.single-product p.price ins {
	text-decoration: none;
	font-weight: normal !important;
}
body.single-product .summary.entry-summary p {
	font-family: 'Walfork' !important;
	font-size: 12px !important;
	text-align: center;
	width: 50%;
	margin: 0 auto 15px;
	line-height: 1.4em;
}

body.single-product div.product form.cart .variations select {
	-webkit-appearance:none;
	height: 33px;
    font-family: 'Geogrotesque';
    color: #000;
    padding-left: 15px;
    outline: 0;
    border: 1px solid #c9c1ae;
    border-bottom: 0;
    border-radius: 0;
    width: 91%;
    margin-top: -2px;
    background-image: url('img/select-dropdown.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 10px;
}

body.single-product div.product form.cart .variations select#pa_color {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
body.single-product div.product form.cart .variations select#pa_width {
	border-bottom: 1px solid #c9c1ae;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
body.single-product div.product form.cart .variations td.label {
	padding-right: 0;
}
body.single-product a.reset_variations {
	font-family: 'Walfork' !important;
    font-size: 12px !important;
    text-transform: lowercase;
}
body.single-product div.product form.cart .button {
	width: 91%;
	background-color: #99c4e3;
	height: 39px;
	text-transform: uppercase;
	font-family: 'Tablet Gothic Narrow Sb';
	font-size: 12px;
	letter-spacing: 2px;
}
body.single-product div.product form.cart .button:hover {
	background-color: #89b0cc;
}
.shareProduct {
	width: 91%;
}
.shareProduct img {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
}
.productDetails {
	margin-top: 40px;
}
.productDetailBlock {
	border-top: 1px solid #c9c1ae;
	position: relative;
	width: 91%;
}
.productDetailBlock:after {
	content: url('img/open-plus.png');
	position: absolute;
	right: 4px;
	top: 9px;
}
.productDetailBlock h6 {
	font-family: 'Geogrotesque';
	font-size: 11px;
	text-transform: lowercase;
	padding-top: 12px;
	padding-bottom: 12px;
	color:rgba(0, 0, 0, 0.55);
}
.productDetailBlock ul {
	padding-left: 15px;
	padding-bottom: 7px;

}
.productDetailBlock ul li {
	list-style-type: disc;
	padding-bottom: 5px;
	font-family: 'Walfork';
	font-size: 11px;
}
body.single-product div.product div.images {
	position: relative;
	width: 53% !important;
}
body.single-product div.product div.images div.thumbnails {
     padding-top: 0 !important; 
    float: right;
    position: absolute;
    right: -60px;
    top: 0;
    width: 60px;
}
body.single-product div.product div.images img {
	width: 98% !important;
}
body.single-product .images .thumbnails.columns-3 a {
	float: none !important;
	margin-right: 0 !important; 
	
}
body.single-product .images .thumbnails.columns-3 a img {
	margin-bottom: 5px !important;
	opacity: 0.6;
}

body.single-product .images .thumbnails.columns-3 a.zoom.first img{
	opacity: 1;
}
.productInfoSlider {
	height: 70px;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.productInfoSlider h5 {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 22px;
	margin-right: 8px;
	font-family: 'Geogrotesque';
	font-weight: normal;
	color:rgba(0, 0, 0, 0.85);
}
.productInfoSlider p {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	font-family: 'Walfork';
	font-weight: normal;
	font-size: 12px;
	color:rgba(0, 0, 0, 0.85);
}
.productSuggestWrapper {
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 25px;
}
.productSuggestions {
	overflow: hidden;
	padding-bottom: 40px;
	width: 80%;
	margin:0 auto;
}
.productSuggestions h4 {
	text-align: left;
	text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 46px;
    padding-bottom: 20px;
    font-family: 'Neue Droschke';
    color: rgba(173, 172, 174, 0.5);
}
.productSuggestions ul {
	 overflow: hidden;
}
.productSuggestions ul li {
	float: left;
	width: 33.3% !important;
	padding: 20px !important;
	margin: 0 !important;
}
.productSuggestions ul li img {
	height: 183px;
}
.productRow {
	background-color: #fff;
}

.productSuggestions ul li h6 {
	font-family: 'Walfork Demi';
	font-size: 11.5px;
	line-height: 1.5em;
}

.productSuggestions ul li span.price {
	font-family: 'Walfork' !important;
	font-size: 12px !important;
	color:#000 !important;

}

.productShowcase .seeMoreBtn {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
}



/*CATEGORY PAGES*/

.headsUpBar {
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 7px;
	border-top: 1px solid rgba(201, 193, 174, 0.5);
	border-bottom: 1px solid rgba(201, 193, 174, 0.5);
	height: 51px;
}

.headsUpBar p {
	font-size: 18px;
	color: #c9c1ae;
	font-family: 'Walfork';
	padding-top: 5px;
	text-align: center;
}

/*MY ACCOUNT*/
body.my-account h1 {
	    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 82px;
    font-family: 'Neue Droschke';
    color: rgba(173, 172, 174, 0.5);
        background-color: rgba(172, 172, 174, 0.2);
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 0;
}
body.my-account article {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 300px;
}

body.my-account div.woocommerce {
	background-color: rgba(172, 172, 174, 0.15);
	padding: 20px;
}
body.my-account div.woocommerce h2 {
	font-size: 21px;
    color: #141414;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Walfork Demi';
}
body.my-account div.woocommerce form.login,
body.my-account div.woocommerce form.register {
	border: 0;
	padding: 0;
}	
body.my-account div.woocommerce form.login label,
body.my-account div.woocommerce form.register label,
body.my-account form.edit-account label {
	font-size: 13px;
    letter-spacing: 0.025em;
    color: #141414;
    text-transform: capitalize;
    font-family: 'Geogrotesque';
}
body.my-account div.woocommerce form.login input[type="text"],
body.my-account form.edit-account input[type="text"],
body.my-account div.woocommerce form.register input[type="email"],
body.my-account form.edit-account input[type="email"],
body.my-account div.woocommerce form.login input[type="password"],
body.my-account div.woocommerce form.register input[type="password"],
body.my-account form.edit-account input[type="password"] {
	    -webkit-appearance: none;
    height: 33px;
    font-family: 'Geogrotesque';
    color: #000;
    padding-left: 10px;
    outline: 0;
    border: 1px solid rgba(173, 172, 174, 0.6);
    border-radius: 0;
}
body.my-account form.edit-account legend {
	font-family: 'Tablet Gothic Narrow Sb';
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
body.my-account p.woocommerce-LostPassword.lost_password {
	padding-top: 15px;
	font-family: 'Tablet Gothic Narrow Sb';
	font-size: 12px;
}
body.my-account div.woocommerce form.login input[type="submit"],
body.my-account div.woocommerce form.register input[type="submit"] {
	height: 33px;
    outline: 0;
    background-color: #99c4e3 !important;
    color: #fff;
    font-family: 'Tablet Gothic Narrow';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    width: 120px;
    padding-top: 8px;
    margin-right: 10px;
}

/*FORM-LOST-PASSWORD*/

form.woocommerce-ResetPassword.lost_reset_password p {
	font-family: 'Tablet Gothic Narrow Sb';
    font-size: 13px;
    line-height: 1.6em;
    margin-bottom: 15px;
    color:#444;
}
form.woocommerce-ResetPassword.lost_reset_password label {
    font-size: 13px;
    letter-spacing: 0.025em;
    color: #141414;
    text-transform: capitalize;
    font-family: 'Geogrotesque';
}
form.woocommerce-ResetPassword.lost_reset_password input#user_login {
	-webkit-appearance: none;
    height: 33px;
    font-family: 'Geogrotesque';
    color: #000;
    padding-left: 10px;
    outline: 0;
    border: 1px solid rgba(173, 172, 174, 0.6);
    border-radius: 0;
}
form.woocommerce-ResetPassword.lost_reset_password input.woocommerce-Button.button,
body.my-account form.edit-account input.woocommerce-Button.button {
	height: 33px;
    outline: 0;
    background-color: #99c4e3 !important;
    color: #fff;
    font-family: 'Tablet Gothic Narrow';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    width: 120px;
    padding-top: 8px;
    margin-right: 10px;
}
body.my-account form.edit-account input.woocommerce-Button.button {
	margin-top: 15px;
}
/*USER DASHBOARD*/

nav.woocommerce-MyAccount-navigation ul li {
	font-family: 'Tablet Gothic Narrow Sb';
	font-size: 17px;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
nav.woocommerce-MyAccount-navigation ul li:hover {
	text-decoration: underline;
}
.woocommerce-account .woocommerce-MyAccount-content {
	padding-left: 20px;
	border-left: 1px solid rgba(201, 193, 174, 0.5);
}
.woocommerce-account .woocommerce-MyAccount-content p {
	font-size: 15px;
	line-height: 1.5em;
	font-family: 'Tablet Gothic Narrow Sb';
	margin-bottom: 15px;
	color:#444;
}


/*SHOP PAGE FILTERS*/
	.filterBar {
		width: 100%;
    	margin-bottom: 10px;
    	position: relative;
    	background-color: #CECCCC;
    	padding-top: 10px;
    	padding-bottom: 10px;
	}
	.filterShowSize ul li {
		display: inline-block;
		padding: 10px;
		height: 50px;
	}
	.filterShowSize ul li:hover {
		background-color: #fff;
	}
	.filterShowSize ul li:hover a {
		color:rgba(201, 193, 174, 1);
	}
	.filterBar ul li a {
		font-size: 18px;
	    color: #fff;
	    font-family: 'Walfork';
	    padding-top: 5px;
	    text-align: center;
	    letter-spacing: 1px;
	}
	.filterWrapper {
		overflow: hidden;
	}
	li#yith-woo-ajax-navigation-5,
	li#yith-woo-ajax-navigation-6,
	li#yith-woo-ajax-navigation-7 {
		float: left;
    	padding: 2px 10px 2px;
	}
	li#yith-woo-ajax-navigation-5 ul li a,
	li#yith-woo-ajax-navigation-6 ul li a,
	li#yith-woo-ajax-navigation-7 ul li a{
		width: 40px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-right: 10px;
		text-align: center;
		color:#000;
		font-size: 12px;
	}
	li#yith-woo-ajax-navigation-5 {
		width: 70%;
		border-right:1px solid rgba(173, 172, 174, 0.5);
	}
	li#yith-woo-ajax-navigation-7 {
		width: 30%;
		padding-left: 25px;
	}
	li#yith-woo-ajax-navigation-7 ul {
		text-align: left;
	}
	li#yith-woo-ajax-navigation-6 {
		width: 100%;
	}
	li#yith-woo-ajax-navigation-5 ul li a:hover,
	li#yith-woo-ajax-navigation-7 ul li a:hover {
		background-color: rgba(201, 193, 174, 1);
		border-color:rgba(201, 193, 174, 1);
		color:#fff;
	}
	.woocommerce .widget_layered_nav ul {
		text-align: center;
	}
	.woocommerce .widget_layered_nav ul li {
		float: none;
		display: inline-block;
	}
	#sticker1 {
		z-index: 999 !important;
	}
	li#yith-woo-ajax-navigation-5 ul li.chosen a,
	li#yith-woo-ajax-navigation-7 ul li.chosen a{
		background-color: rgba(201, 193, 174, 1) !important;
		border-color:rgba(201, 193, 174, 1) !important;
		color:#fff !important;
	}
	.post-type-archive li.chosen a::before {
		display: none;
	}
	a.yith-wcan-reset-navigation.button {
		float: right;
		margin-right: 20px;
	    outline: 0;
	    background-color: #99c4e3 !important;
	    color: #fff;
	    font-family: 'Tablet Gothic Narrow';
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    font-size: 9px;
	    border: 1px solid #99c4e;
	    width: 120px;
	    padding-top: 8px;

	}
	span.tagged_as {
		display: none;
	}

/*CONTACT US*/
.contactUsForm {
	margin: 0 auto;
}
.contactUsForm input[type="text"],
.contactUsForm input[type="email"] {
	height: 33px;
    font-family: 'Walfork';
    color: #c9c1ae;
    padding-left: 10px;
    outline: 0;
    border: 1px solid rgba(173, 172, 174, 0.6);
    display: block;
    width: 500px;
    margin: 0 auto;
}
.contactUsForm textarea {
	height: 150px;
    font-family: 'Walfork';
    color: #c9c1ae;
    padding-top: 10px;
    padding-left: 10px;
    outline: 0;
    border: 1px solid rgba(173, 172, 174, 0.6);
    display: block;
    width: 500px;
    margin: 0 auto;
}
.contactUsForm input[type="submit"] {
	height: 33px;
    outline: 0;
    background-color: #99c4e3 !important;
    color: #fff;
    font-family: 'Tablet Gothic Narrow';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    border: 0;
    display: block;
    width: 500px;
    margin: 10px auto 0;
    padding-top: 8px;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:870px) {
	
	/*HEADER*/
	.top-bar-left h4 {
		display: none;
	}
	.top-bar-right {
		float: none;
		width: 100%;
	}
	.menu-bar {
		text-align: left;
	}
	.logo h1 {
		font-size: 26px;
	}
	nav.nav {
		height: 45px;
		width: 100%;
		margin:0 auto;
	}
	.navWrapper,
	body.single-product .navWrapper {
		width: 100%;
		padding-left: 15px;
	}
	body.single-product .woocommerce-breadcrumb {
		width: 80%;
		margin: 0 auto 10px;
	}
	.navBottom {
		width: 100%;
		margin: 0 auto;
	}
	.navBottomLinks {
		display: none;
	}
	.navLeft {
		width: 70px;
		padding-top: 2px;

	}
	.navRight {
		width:70%;
		float: left;
	}
	.navRight ul {
		text-align: left;
	}
	.navRight ul li {
		margin-bottom: 7px;
		margin-right: 0;
		margin-left: 0;
		padding-left: 10px;
	}
	.navRight input#searchField:focus {
		width: 130px;
	}
	button#responsive-menu-button {
		outline: 0;
	}
	div#responsive-menu-container {
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-top: 50px;
	}
	.navBottomLogo {
		float: none;
		margin: 0 auto;
	}

	/*FOOTER*/
	.footer {
		height: auto;
		text-align: center;
	}
	.footer-bar-left, .footer-bar-right {
		float: none;
		padding-bottom: 5px;
		width: 100%;
	}
	.newsletterBarRight p#footerCall {
		display: none;
	}

	/*HOMEPAGE*/
	.wrapper970 {
		width: 100%;
	}

	.newsletterBar {
		height: auto;

	}
	.newsletterBarLeft {
		width: 96%;
		margin: 0 auto 15px;
		float: none;
		text-align: center;
	}
	.newsletterBarLeft p {
		font-size: 16px;
	}
	.newsletterBarRight {
		width: 96%;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	.shopSection {
		padding-top: 15px;
	}
	body.home .shopBy {
		width: 100%;
		float: none;
	}
	.shopBy .header h6 {
		margin-right: 0;
	}
	body.home .selectLength {
		margin-bottom: 15px;
	}
	.selectWidth {
		padding-top: 25px;
		width: 100%;
		float: none;
	}
	body.home .selectWidth {
		padding-top: 0;
		width: 100%;
	}
	.shopBy a button {
		width: 90%;
		margin: 15px auto 0;
	}
	.browseBy {
		float: none;
		width: 100%;
		padding-top: 25px;
	}
	.midBannerTop .midBannerSlider {
		padding-left: 0;
		text-align: center;
	}
	.midBannerTop {
		height: 450px;
		padding-top: 100px;
	}
	.midBannerTop .midBannerText {
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
	}
	.midBannerTop .midBannerText h1 {
		font-size: 36px;
		line-height: 1.35em;
	}
	div.wpcf7 p.input input {
		width: 210px;
		border-radius: 0 !important;
		-webkit-appearance:none !important;
	}
	div.wpcf7 p.submit input {
		border-radius: 0 !important;
		-webkit-appearance:none !important;
	}
	.midBannerBottom {
		height: 485px;
	}
	.midBannerBottom .midBannerHeader {
		padding-top: 0;
		height: 175px;
		padding-left: 20px;
	}
	.midBannerBottom .midBannerHeader h2 {
		font-size: 36px;
		line-height: 35px;
	}
	.midBannerBottom .midBannerText {
		padding-top: 185px;
		padding-left: 0;
		padding-right: 30px;
	}
	.midBannerBottom .midBannerText a p {
		font-size: 14px;
	}
	.midBannerContent {
		height: 400px;
	}
	.productShowcase {
		padding-top: 0;
	}
	.productShowcase ul {
		text-align: center;
	}
	.productShowcase ul li {
		width: 50%;
	}

	/*SHOP*/
	.mainBanner {
		height: 350px;
		padding-top: 100px;
	}
	body.home .mainBanner {
		width: 100%;
	}
	/*ACCOUNT*/
	body.my-account h1 {
		font-size: 46px;
	}
	/*SHOP FILTERS*/

	/*PRODUCT*/
	aside.sidebar-shop {
		top:92px;
		width: 100%;
		background-color: #141414;
	}
	.headsUpBar p {
		font-size: 15px;
		width: 96%;
	}
	li#yith-woo-ajax-navigation-5 ul li a, li#yith-woo-ajax-navigation-6 ul li a, li#yith-woo-ajax-navigation-7 ul li a {
		margin-right: 0;
		width: 36px;
	}
	a.yith-wcan-reset-navigation.button {
		width: 140px;
		text-align: center;
	}
	.single-product div#content {
		padding-top:0;
	}
	body.single-product .wrapper970 {
		width: 100%;
	 }
	 body.single-product div.product div.images{
	 	width: 80% !important;
	 	margin:0 auto;
	 }
	 body.single-product div.product div.images div.thumbnails {
	 	position: relative;
	 	float: none;
	 	right: 0;
	 	width: 100%;
	 }
	 body.single-product .summary.entry-summary {
	 	padding-top: 30px;
	 	width: 100% !important;
	 	text-align: center;
	 }
	 .yith_magnifier_gallery li {
	 	width: 85px;
	 }
	 body.single-product div.product form.cart .button {
	 	float: none;
	 	margin: 0 auto;
	 	display: block;
	 }
	 .woocommerce div.product form.cart .variations select {
	 	margin-right: 0;
	 }
	 .productDetailBlock {
	 	margin: 0 auto;
	 }
	 .productSuggestions h4 {
	 	font-size: 42px;
	 	text-align: center;
	 }
	 .productSuggestions ul li {
	 	width: 100% !important;
	 	float: left;
	 	margin-bottom: 20px !important;
	 }

	 /*CART & CHECKOUT*/
	 .cartBanner .cartBannerHeader h2 {
	 	font-size: 46px;
	 }
	 div#checkout-wrapper {
	 	width: 100% !important;
	 }
	 div#total_order {
	 	float: none;
	 	width: 100%;
	 	margin-left: 0;
	 }
	 div#order_review {
	 	width: 100%;
	 }
	 .contactUsForm input[type="text"], .contactUsForm input[type="email"],
	 .contactUsForm input[type="submit"], .contactUsForm textarea {
	 	width: 95%;
	 	margin: 0 auto;
	 }
}
@media only screen and (max-width:540px) {
	/*HOMEPAGE*/
	section.hero .hero-banner {
		height: 400px;
	}
	.hero-overlay h1 {
		font-size: 42px;
	}
	section.block-sale .hero-banner {
		height: 350px;
	}

	/*SHOP*/
	.post-type-archive ul.products li.product,
	.tax-product_tag ul.products li.product {
		width: 100%;
		margin: 0 auto 10px;
	}
	.post-type-archive .woocommerce-ordering {
		padding-top: 30px;
		float: none !important;
		text-align: center;
	}

	/*PRODUCT*/
	body.single-product .summary.entry-summary {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}

@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MOBILE
\*------------------------------------*/

@media only screen and (max-width:768px) {
	/*Homepage*/
/*	.top-bar-left {
		display: none;
	}
	.hero-overlay h3 {
		font-size: 22px;
	}
	.left-block a.view-button button,
	.right-block a.view-button button{
		width: 90%;
		margin: 0 auto;
		font-size: 20px;
	}*/

	/*Shop*/
/*	aside.sidebar-shop {
		display: none;
	}
	.post-type-archive .hero {
		margin: 0 auto;
		width: 100%;
	}
	.post-type-archive .hero-left h1 {
		padding-top: 0;
		padding-bottom: 10px;
		font-size: 20px;
	}
	.post-type-archive .hero-left h3 {
		padding-top: 10px;
		font-size: 14px;
	}
	.post-type-archive ul.products {
	    margin: 0 auto;
	    width: 95%;
	    text-align: center;
	}*/
}
